.meet{
    margin-top: 200px;
}
.meet h1{
    color: var(--neutral-100, #1D1E25);

    width: 803px;   
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 67.2px */
    letter-spacing: -2px;
    margin-bottom: 25px;
}
.meet__p{
    color: var(--neutral-60, #7E8492);
    margin-bottom: 80px;
    width: 534px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 177.778% */
}
.meet__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between
    ;
}
@media(max-width:1200px){
    .meet__wrapper{
        flex-direction: column;
        gap: 50px;
    }
    .meet h1{
        width: auto;
    }
    .meet p{
        width: auto;
    }
}
