.news{
    margin-top: 160px;
}
.news h1{
    color: var(--neutral-100, #1D1E25);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 67.2px */
    letter-spacing: -2px;
    margin-bottom: 25px;
}
.news__p{
    text-align: center;
    color: var(--neutral-60, #7E8492);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 177.778% */
    margin-bottom: 80px;
}
.News__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width:1100px){
    .News__wrapper{
        flex-direction: column;
        gap: 30px;
    }
    
}