.homeHelpCard h2{
    color: var(--neutral-10, #FFF);

    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 131.25% */
    letter-spacing: -1px;
    width: 249px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.homeHelpCard span{
    color: var(--neutral-60, #7E8492);
        
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    width: 446px;
    display: block;
}
@media(max-width:850px){
    .homeHelpCard span{
        width: auto;
    }
}