.newsCard p{
    color: var(--neutral-100, #1D1E25);
width: 582px;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 48px */
letter-spacing: -0.64px;
}
@media(max-width:700px){
    .newsCard p{
        width: auto;
    }
}
@media(max-width:600px){
    .newsCard img{
        width: 500px;
    }
}
@media(max-width:550px){
    .newsCard img{
        width: 400px;
    }
}
@media(max-width:450px){
    .newsCard img{
        width: 300px;
    }
}
@media(max-width:350px){
    .newsCard img{
        width: 200px;
    }
}